{% extends "base-popup.html" %}

<!-- Begin page content -->
{% block head %}
    <script type="text/javascript">
        currency_formatter = Intl.NumberFormat('en-US',  {'minimumFractionDigits': 2, 'maximumFractionDigits': 2});

        var processFloatNumber = function(num) {
            return currency_formatter.format(num);
        }

        $(document).ready(function() {
            var app = new Vue({
                el: '#vue_main_div',
                delimiters: ['[[', ']]'],
                data: {
                    deal_id: null,
                    side: null,
                    cnpj: null,
                    fwd_client: null,
                    spread: null
                },
                methods: {
                    valid_data: function(x) {
                        return typeof(x) !== "undefined" || x !== null
                    }
                },
                beforeMount(){
                    this.deal_id = {{ deal_id | safe }}

                    this.side = String({{ info.client_side | safe }})
                    if (this.side === '1') {
                        this.side = 'SELL'
                    } else if (this.side === '2') {
                        this.side = 'BUY'
                    } else if (this.side === '0') {
                        this.side = '2WAY'
                    }

                    this.cnpj = '{{ info.cnpj | safe }}'

                    let sell = '{{ info.sell | safe }}'
                    let buy = '{{ info.buy | safe }}'
                    if (this.valid_data(sell) && sell && sell != '-') {
                        this.fwd_client = sell
                    } else if (this.valid_data(buy) && buy && buy != '-') {
                        this.fwd_client = buy
                    } else {
                        this.fwd_client = '-'
                    }

                    this.spread = '{{ info.spread | safe }}'
                    if (this.valid_data(this.spread) && this.spread) {
                        try {
                            this.spread = parseInt(parseFloat(this.spread) * 10000)
                        } catch (e) {
                            this.spread = '-'
                        }
                    } else {
                        this.spread = '-'
                    }
                },
            });
        });
    </script>

    <style>
        table {
            table-layout: fixed;
            word-wrap: break-word;
	}
    </style>
{% endblock %}

{% block main %}
    <div id="vue_main_div" class="container-fluid">

        {% if info.rejected_text %}
            <div class="bs-component small ml-3 mr-3">
                <div class="alert alert-dismissible alert-danger">
                    <strong>Rejected: </strong> {{ info.rejected_text }}.
                </div>
            </div>
        {% endif %}
        
        <div class="row m-0 mb-3 small">
            <div class="col-md-6 text-white d-flex align-items-start flex-column">
                <table class="table table-bordered table-hover table-sm">
                    <tr class="header text-center">
                        <th>Deal ID</th>
                        <td>[[ deal_id ]]</td>
                    </tr>
                    <tr class="header text-center">
                        <th>Timestamp</th>
                        <td>{{ info.timestamp }}</td>
                    </tr>
                    <tr class="header text-center">
                        <th>DealCode</th>
                        <td>{{ info.dealcode }}</td>
                    </tr>
                    <tr class="header text-center">
                        <th>Counterparty</th>
                        <td>{{ info.counterparty }}</td>
                    </tr>
                    <tr class="header text-center">
                        <th>CNPJ</th>
                        <td>[[ cnpj | formatCNPJ ]]</td>
                    </tr>
                </table>
                <table class="table table-bordered table-hover table-sm">
                    <tr class="header text-center">
                        <th>Side</th>
                        <td>
                            [[ side ]]
                        </td>
                    </tr>
                    <tr class="header text-center">
                        <th>Maturity Date</th>
                        <td>{{ info.maturity }}</td>
                    </tr>
                    <tr class="header text-center">
                        <th>Adjusted Maturity Date</th>
                        <td>
                            {% if info.adj_maturity %}
                                {{ info.adj_maturity }}
                            {% else %}
                                -
                            {% endif %}
                        </td>
                    </tr>
                    <tr class="header text-center">
                        <th>DC (adj)</th>
                        <td>
                            {% if info.dc is not none %}
                                {{ info.dc }}
                            {% else %}
                                -
                            {% endif %}
                        </td>
                    </tr>
                    <tr class="header text-center">
                        <th>DU (adj)</th>
                        <td>
                            {% if info.du is not none %}
                                {{ info.du }}
                            {% else %}
                                -
                            {% endif %}
                        </td>
                    </tr>
                </table>

                <table class="table table-bordered table-hover table-sm">
                    <tr class="header text-center">
                        <th>Spot</th>
                        <td>
                            {% if info.s_cost %}
                                {{ info.s_cost }}
                            {% else %}
                                -
                            {% endif %}
                        </td>
                    </tr>
                    <tr class="header text-center">
                        <th>FWD</th>
                        <td>
                            {% if info.f_cost %}
                                {{ info.f_cost }}
                            {% else %}
                                -
                            {% endif %}
                        </td>
                    </tr>
                    <tr class="header text-center">
                        <th>Client Spread (pips)</th>
                        <td>
                            [[ spread ]]
                        </td>
                    </tr>
                    <tr class="header text-center">
                        <th>FWD-Client</th>
                        <td>
                           [[ fwd_client ]]
                        </td>
                    </tr>
                    <tr class="header text-center">
                        <th>FWD-Points</th>
                        <td>
                            {% if info.fwd_points %}
                                {{ info.fwd_points }}
                            {% else %}
                                -
                            {% endif %}
                        </td>
                    </tr>
                </table>
            </div>

            <div class="col-md-6 text-white d-flex align-items-end flex-column">
                <table class="table table-bordered table-hover table-sm">
                    <tr class="header text-center">
                        <th>Currency</th>
                        <td>{{ info.currency }}</td>
                    </tr>
                    <tr class="header text-center">
                        <th>Notional</th>
                        <td>{{ "{:,.2f}".format(info.amount) }}</td>
                    </tr>
                </table>

                <table class="table table-bordered table-hover table-sm">
                    <tr class="header text-center">
                        <th>Yield (BRL) %</th>
                        <td>
                            {% if info.pre_brl %}
                                {{ "{:,.4f}".format(info.pre_brl * 100)}}
                            {% else %}
                                -
                            {% endif %}
                        </td>
                    </tr>
                    <tr class="header text-center">
                        <th>Yield (CCY) %</th>
                        <td>
                            {% if info.y_ccy %}
                                {{ "{:,.4f}".format(info.y_ccy * 100) }}
                            {% else %}
                                -
                            {% endif %}
                        </td>
                    </tr>
                    <tr class="header text-center">
                        <th>Yield (Client) %</th>
                        <td>
                            {% if info.y_ccy_client %}
                                {{ "{:,.4f}".format(info.y_ccy_client * 100) }}
                            {% else %}
                                -
                            {% endif %}
                        </td>
                    </tr>
                </table>

                <table class="table table-bordered table-hover table-sm">
                    <tr class="header text-center">
                        <th>Spread/Notional %</th>
                        <td>
                            {% if info.spread_notional %}
                                {{ "{:,.2f}".format(info.spread_notional * 100) }}
                            {% else %}
                                -
                            {% endif %}
                        </td>
                    </tr>
                    <tr class="header text-center">
                        <th>Risk Factor GL %</th>
                        <td>
                            {% if info.f_pfe %}
                                {{ "{:,.2f}".format(info.f_pfe * 100) }}
                            {% else %}
                                -
                            {% endif %}
                        </td>
                    </tr>
                    <tr class="header text-center">
                        <th>Risk (BRL)</th>
                        <td>
                            {% if info.brl_risk %}
                                {{ "{:,.2f}".format(info.brl_risk) }}
                            {% else %}
                                -
                            {% endif %}
                        </td>
                    </tr>
                    <tr class="header text-center">
                        <th>Spread/Risk %</th>
                        <td>
                            {% if info.spread_risk %}
                                {{ "{:,.2f}".format(info.spread_risk * 100) }}
                            {% else %}
                                -
                            {% endif %}
                        </td>
                    </tr>
                </table>

                <table class="table table-bordered table-hover table-sm">
                    <tr class="header text-center">
                        <th>Revenue (BRL)</th>
                        <td>
                            {% if info.revenue %}
                                {{ "{:,.2f}".format(info.revenue) }}
                            {% else %}
                                -
                            {% endif %}
                        </td>
                    </tr>
                </table>

                <table class="table table-bordered table-hover table-sm">
                    <tr class="header text-center">
                        <th>Validate (KYC)</th>
                        <td>
                            {% if info.validate_kyc %}
                                {{ info.validate_kyc }}
                            {% else %}
                                -
                            {% endif %}
                        </td>
                    </tr>
                    <tr class="header text-center">
                        <th>Validate (ISDA)</th>
                        <td>
                            {% if info.validate_isda %}
                                {{ info.validate_isda }}
                            {% else %}
                                -
                            {% endif %}
                        </td>
                    </tr>
                    <tr class="header text-center">
                        <th>Notes</th>
                        <td>
                            {% if info.notes %}
                                {{ info.notes }}
                            {% else %}
                                -
                            {% endif %}
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
