{% extends "base.html" %}

{% block title %}Configurations{% endblock %}

<!-- Begin page content -->
{% block head %}
    <script type="text/javascript">
        window.addEventListener('message', event => {
            // IMPORTANT: check the origin of the data!
            if (event.origin.includes(location.host) && event.origin.includes(location.port)) {
                // The data was sent from your site.
                // Data sent with postMessage is stored in event.data:
                let data = event.data
                if (data && data.includes && data.includes('reload')) {
                    document.location.reload(false)
                }
            } else {
                // The data was NOT sent from your site!
                // Be careful! Do not use it. This else branch is
                // here just for clarity, you usually shouldn't needed.
                return;
            }
        });

        $(document).ready(function() {
            time_buckets_vue_obj = new SimpleApplyConfig({
                el: '#tab-fx-ndf',
                delimiters: ["<%","%>"],
                data: {
                    time_buckets: {{ time_buckets|safe }}
                },
                methods: {
                    validate_time_buckets: function() {
                        let result = true
                        let lastNum = Number(this.time_buckets[0].InitialDay)
                        let inner_validation_obj = function(object) {
                            if (object.EndDay == '') {
                                return false
                            }

                            if (Number(object.InitialDay) > Number(object.EndDay)) {
                                return false
                            }

                            lastNum = Number(object.EndDay)

                            return true
                        }

                        let inner_validation_array = function(object, index, array) {
                            result = result && inner_validation_obj(object)
                        }

                        this.time_buckets.forEach(inner_validation_array)

                        if (!result) {
                            alert('There were errors! It isn\'t possible to save this data!')
                        }

                        return result
                    },
                    submit: function(event) {
                        if (!this.validate_time_buckets()) {
                            return;
                        }
                        let url = '/fxconfig/time-buckets-put'
                        let data = JSON.stringify({'time_buckets': this.time_buckets})
                        let error_msg = 'ops...! An error has occurred on Time Buckets PUT call!'
                        submitData(url, data, error_msg)
                    },
                    addItem: function() {
                        var my_object = {
                            EndDay: '',
                            InitialDay: (this.time_buckets[this.time_buckets.length - 1].EndDay == "") ? Number(this.time_buckets[this.time_buckets.length - 1].InitialDay) + 1 : Number(this.time_buckets[this.time_buckets.length - 1].EndDay) + 1
                        }
                        this.time_buckets.push(my_object)
                        this.onchange_value(undefined)
                    },
                    onchange_end_day: function(event) {
                        this.onchange_value(event)
                        let index = Number(event.srcElement.id.substr('itb-'.length))
                        if (index < this.time_buckets.length - 1) {
                            this.time_buckets[index + 1].InitialDay = Number(this.time_buckets[index].EndDay) + 1
                        }
                    },
                    remove_item: function(event) {
                        let index = Number(event.srcElement.id.substr('tb-'.length))
                        this.time_buckets.splice(index, 1)
                        if (index < this.time_buckets.length) {
                            this.time_buckets[index].InitialDay = Number(this.time_buckets[index - 1].EndDay) + 1
                        }
                        this.onchange_value(undefined)
                    }
                },
            });

            var app_tabs_legal_entities = new Vue({
                el: '#id_ul_tabs_legal_entities',
                delimiters: ['[[', ']]'],
                data: {
                    myLETabs: [{id: 'id-counterparties', name: 'Counterparties', href: '#tab_counterparties', ref: 'idCounterparty',},
                             {id: 'id-groups', name: 'Groups', href: '#tab-groups', ref: 'idGroups',}],
                },
            });

            counterparties_vue_obj = new SimpleApplyConfig({
                el: '#tab_counterparties',
                delimiters: ["<%","%>"],
                data: {
                    counterparties: {{ counterparties|safe }},
                    market_type_data: {'1': 'Primary', '2': 'Secondary'},
                    default_transaction_data: {'1': ['IMPORT_EXPORT', 'FINANCIAL'],
                                               '2': ['INTERBANK_NO_CLEARING', 'INTERBANK_CLEARING']},
                    deleted_counterparties: []
                },
                filters: {
                    // a computed getter
                    getMarketType: function (value) {
                        if (String(value) == '1') {
                            return 'Primary'
                        }
                        if (String(value) == '2') {
                            return "Secondary"
                        }

                        return 'Undefined'
                    }
                },
                methods: {
                    submit: function(event) {
                        let url = '/fxconfig/counterparty-delete'
                        let data = JSON.stringify({'counterparty': this.deleted_counterparties, })
                        let error_msg = 'ops...! An error has occurred on Counterparties PUT call!'
                        submitData(url, data, error_msg)
                        this.deleted_counterparties = []
                    },
                    popup_edit: function(cnpj) {
                        var myWindow = window.open("/fxconfig/counterparty-data-edit/" + cnpj, "", "width=800,height=500");
                    },
                    popup_add: function() {
                        var myWindow = window.open("/fxconfig/counterparty-data-add", "", "width=800,height=500");
                    },
                    edit_item: function(event) {
                        let index = Number(event.srcElement.id.substr('tb-edit-'.length))
                        this.popup_edit(this.counterparties[index].Cnpj)
                    },
                    add_item: function() {
                        this.popup_add()
                    },
                    remove_item: function(event) {
                        let index = Number(event.srcElement.id.substr('tb-'.length))
                        this.deleted_counterparties.push(this.counterparties[index].Cnpj)
                        this.counterparties.splice(index, 1)
                        this.onchange_value(undefined)
                    },
                }
            });

            groups_vue_obj = new SimpleApplyConfig({
                el: '#tab-groups',
                delimiters: ["<%","%>"],
                data: {
                    spot_groups: {{ spot_groups|safe }},
                    ndf_groups: {{ ndf_groups|safe }},
                    deleted_spot_groups: [],
                    deleted_ndf_groups: []
                },
                filters: {

                },
                methods: {
                    submit: function(event) {
                        if(this.deleted_spot_groups.length) {
                            let url = '/fxconfig/group-delete/spot'
                            let data = JSON.stringify({'group': this.deleted_spot_groups, })
                            this.deleted_spot_groups.length = 0
                            let error_msg = 'ops...! An error has occurred on Groups SPOT PUT call!'
                            submitData(url, data, error_msg)
                        }

                        if(this.deleted_ndf_groups.length) {
                            let url = '/fxconfig/group-delete/ndf'
                            let data = JSON.stringify({'group': this.deleted_ndf_groups, })
                            this.deleted_ndf_groups.length = 0
                            let error_msg = 'ops...! An error has occurred on Groups NDF PUT call!'
                            submitData(url, data, error_msg)
                        }
                    },
                    popup_edit: function(fxtype, alias) {
                        var myWindow = window.open("/fxconfig/group-edit/" + fxtype + '/' + alias, "", "width=800,height=540");
                    },
                    popup_add: function(fxtype) {
                        var myWindow = window.open("/fxconfig/group-add/" + fxtype, "", "width=800,height=540");
                    },
                    edit_item: function(event) {
                        let id = event.srcElement.id
                        let fxtype = id.substr(id.indexOf('-') + 1, id.lastIndexOf('-', id.lastIndexOf('-') - 1) - 3)
                        let alias = id.substr(id.lastIndexOf('-') + 1)
                        this.popup_edit(fxtype, alias)
                    },
                    add_item: function(event) {
                        let id = event.srcElement.id
                        let fxtype = id.substr(id.indexOf('-') + 1, id.lastIndexOf('-') - 'add'.length)
                        this.popup_add(fxtype)
                    },
                    remove_ndf_item: function(event) {
                        let alias = event.srcElement.id.substr('gr-ndf-del-'.length)
                        this.deleted_ndf_groups.push(alias)
                        delete this.ndf_groups[alias]
                        this.onchange_value(undefined)
                        this.$forceUpdate()
                    },
                    remove_spot_item: function(event) {
                        let alias = event.srcElement.id.substr('gr-spot-del-'.length)
                        this.deleted_spot_groups.push(alias)
                        delete this.spot_groups[alias]
                        this.onchange_value(undefined)
                        this.$forceUpdate()
                    },
                }
            });

            currencies_vue_obj = new SimpleApplyConfig({
                el: '#tab-currencies',
                delimiters: ["<%","%>"],
                data: {
                    currencies: {{ currencies|safe }},
                    available_currency_types: ['A', 'B'],
                    sorted_currencies: {{ sorted_currencies|safe }}
                },
                filters: {

                },
                methods: {
                    open_popup: function(currency) {
                        open_a_currency_popup(currency)
                    },

                    submit: function(event) {
                        console.log('submitting now...!')
                        let url = '/fxconfig/currencies-put'
                        let data = JSON.stringify({'currencies': this.currencies, })
                        let error_msg = 'ops...! An error has occurred on Currencies PUT call!'
                        submitData(url, data, error_msg)
                    },
                },
                beforeMount() {
                    this.sorted_currencies.unshift('BRL') // Putting Brazilian Real into the ordered currencies array... 
                },
            });

            system_vue_obj = new SimpleApplyConfig({
                el: '#tab-system',
                delimiters: ["<%","%>"],
                data: {
                    log_level: ["OFF", "FATAL", "ERROR", "WARN", "INFO", "DEBUG", "TRACE"],
                },
                filters: {

                },
                methods: {
                    submit: function(event) {
                        let url = '/fxconfig/bpipe_log_level'
                        let data = JSON.stringify({'log_level': event.srcElement.value})
                        let error_msg = 'ops...! An error has occurred on Log PUT call!'
                        submitData(url, data, error_msg)
                    },
                },
            });

            $("#idApplyChanges").click(() => {
                let vue_arr = [cutoff_times_vue_obj, time_buckets_vue_obj,
                               counterparties_vue_obj, groups_vue_obj,
                               currencies_vue_obj, system_vue_obj]

                for (var ind in vue_arr) {
                    vue_arr[ind].save()
                }
            })
        });

        var open_a_currency_popup = function(currency) {
            var myWindow = window.open('/fxconfig/currency-calendar-view/' + currency, "", "width=800,height=640");
        }

    </script>

    <style>
        .min-content-width {
            width: min-content !important;
        }

        select {
            background: transparent;
            text-align-last:center;
        }

        select > option {
            background-color: #FF9E2A;
            color: black;
        }

        .txtstrongsuccess {
            color: #00bc8c !important;
        }
    </style>
{% endblock %}

{% block halt %}

{% endblock %}

{% block main %}
    <div class="container-fluid">
        <div class="row">
            &nbsp;
        </div>

        <ul id="id_ul_tabs" class="nav nav-tabs small">
            <!--
            <li class="nav-item" v-for="(tab, idx) in myTabs">
                <a :id="tab.id" class="nav-link" data-toggle="tab" style="border: 1px solid gray; border-bottom: 0px;" :href="tab.href" ref="tab.ref">[[ tab.name ]]</a>
            </li>-->
            <li class="nav-item">
                <a class="nav-link active" data-toggle="tab" href="#tab-legal-entities">Legal Entities</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#tab-fx-ndf">FX NDF</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#tab-currencies">Currencies</a>
            </li>
           <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#tab-system">System</a>
            </li>
        </ul>

        <div class="row tab-content m-0">
            <div class="col-12 tab-pane container active" id="tab-legal-entities">
                <div class="row">
                    &nbsp;
                </div>

                <ul id="id_ul_tabs_legal_entities" class="nav nav-tabs small">
                    <li class="nav-item">
                        <a class="nav-link active" data-toggle="tab" href="#tab_counterparties">Counterparties</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#tab-groups">Groups</a>
                    </li>
                </ul>

                <div class="tab-content d-block">
                    <div class="col-12 tab-pane container mb-3 active overflow-auto" id="tab_counterparties">
                        <div class="col-md-6">
                            <button type='button' id="add_counterparty" class="btn btn-sm small mt-4 bg-orange text-white" v-on:click="add_item">+ Counterparty </button >
                        </div>

                        <table id="table_counterparties" class="table table-bordered table-sm small mt-4">
                            <thead>
                                <tr class="header text-center table-th-25">
                                    <th style="position: sticky; top: 0;">Alias</th>
                                    <th style="position: sticky; top: 0;">Counterparty Name</th>
                                    <th style="position: sticky; top: 0;">CNPJ</th>
                                    <th style="position: sticky; top: 0;">Market Type</th>
                                    <th style="position: sticky; top: 0;">Default Transaction</th>
                                    <th style="position: sticky; top: 0;">FX SPOT</th>
                                    <th style="position: sticky; top: 0;">FX NDF</th>
                                    <th style="position: sticky; top: 0;">Delete</th>
                                    <th style="position: sticky; top: 0;">Edit</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="text-center" v-for="(counterparty, ind) in counterparties">
                                    <td><% counterparty.Alias %></td>
                                    <td><% counterparty.Counterparty %></td>
                                    <td><% counterparty.Cnpj|formatCNPJ %></td>
                                    <td>
                                        <template v-if="counterparty.Products.includes('FXSPOT')">
                                            <template v-for="(val, key) in market_type_data" v-if="counterparty.MarketType == key"><% val %>
                                            </template>
                                        </template>
                                    </td>
                                    <td>
                                        <% counterparty.DefaultTransaction %>
                                    </td>
                                    <td>
                                        <% counterparty.Products.includes('FXSPOT') ? '&#10003;' : '' %>
                                    </td>
                                    <td>
                                        <% counterparty.Products.includes('FXNDF') ? '&#10003;' : '' %>
                                    </td>
                                    <td>
                                        <a href="#" class="bg-transparent" :id="'tb-' + ind" v-on:click="remove_item">DELETE</a>
                                    </td>
                                    <td>
                                        <a href="#" class="bg-transparent" :id="'tb-edit-' + ind" v-on:click="edit_item">EDIT</a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="col-12 tab-pane container mb-3 fade" id="tab-groups">
                        <div class="card-group mt-3 mb-3">
                            <div class="card mr-2 h-100 d-inline-block pl-2 pr-2">
                                <p class="card-category mt-1">FXSPOT</p>
                                <div class="col-md-6 mb-3 card-button">
                                    <button type="button" class="btn btn-sm small mt-1 bg-orange text-white" id="gr-spot-add" v-on:click="add_item">+ Group</button>
                                </div>
                                <table class="table table-bordered table-sm small mt-2 card-body">
                                    <thead class="text-center">
                                        <tr>
                                            <th>Alias</th>
                                            <th>Name</th>
                                            <th>Delete</th>
                                        </tr>
                                    </thead>
                                    <tbody class="text-center">
                                        <tr v-for="(data, alias) in spot_groups">
                                            <td><a href="#" :id="'gr-spot-edit-' + alias" v-on:click="edit_item"><% alias %></a></td>
                                            <td><% data.Name %></td>
                                            <td>
                                                <a href="#" :id="'gr-spot-del-' + alias" v-on:click="remove_spot_item">DELETE</a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="card mr-2 h-100 d-inline-block pl-2 pr-2">
                                <p class="card-category mt-1">FXNDF</p>
                                <div class="col-md-6 mb-3 card-button">
                                    <button type="button" class="btn btn-sm small mt-1 bg-orange text-white" id="gr-ndf-add" v-on:click="add_item">+ Group</button>
                                </div>
                                <table class="table table-bordered table-sm small mt-2 card-body">
                                    <thead class="text-center">
                                        <tr>
                                            <th>Alias</th>
                                            <th>Name</th>
                                            <th>Delete</th>
                                        </tr>
                                    </thead>
                                    <tbody class="text-center">
                                        <tr v-for="(data, alias) in ndf_groups">
                                            <td><a href="#" :id="'gr-ndf-edit-' + alias" v-on:click="edit_item"><% alias %></a></td>
                                            <td><% data.Name %></td>
                                            <td>
                                                <a href="#" :id="'gr-ndf-del-' + alias" v-on:click="remove_ndf_item">DELETE</a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 tab-pane container fade" id="tab-fx-ndf">
                <div class="col-xs-2 mb-3 container-fluid" id="div_cutoff_times">
                    <div class="card mr-2 h-100 d-block pl-2 pr-2 mt-2 col-md-6">
                        <p class="card-category mt-2 w-100">Time Buckets</p>
                        <div class="col-md-6 flex-row flex-nowrap w-100">
                            <button type='button' id="add_time_bucket" class="btn btn-sm small mt-2 bg-orange text-white" v-on:click="addItem">+ Time Bucket</button>
                        </div>
                        <div class="col-md-12 w-100 d-block overflow-auto" style="max-height: 20em;">
                            <table class="table table-bordered table-hover table-sm small mt-4 text-center">
                                <thead>
                                    <tr class="header text-center">
                                        <th style="position: sticky; top: 0;">Bucket</th>
                                        <th style="position: sticky; top: 0;">Begin</th>
                                        <th style="position: sticky; top: 0;">End</th>
                                        <th style="position: sticky; top: 0;">Delete</th>
                                    </tr>
                                </thead>
                                <tbody class="bg-orange">
                                    <tr v-for="(item, index) in time_buckets" :key="index">
                                        <th class="w-25"><% index + 1 %></th>
                                        <td class="w-25" style="color: black !important"><% item.InitialDay %></td>
                                        <td class="w-25">
                                            <input type="number" v-on:input="onchange_end_day" v-model="item.EndDay" :id="'itb-' + index" class="border-0 text-center input_spread bg-transparent w-max" placeholder="-">
                                        </td>
                                        <td class="text-center w-25">
                                            <template v-if="index > 0">
                                                <a href="#" :id="'tb-' + index" v-on:click="remove_item">DELETE</a>
                                            </template>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 tab-pane container fade mb-3" id="tab-currencies">
                <div class="col-md-8">
                    <table class="table table-bordered table-hover table-sm small mt-4 text-center">
                        <thead>
                            <tr class="header text-center">
                                <th>Currency</th>
                                <th>Type</th>
                                <th>Name</th>
                                <th>Precision</th>
                                <th>View Priority</th>
                                <th class="w-auto text-nowrap">Holiday Calendar</th>
                            </tr>
                        </thead>
                        <tbody class="bg-orange">
                            <tr v-for="(ccy, idx) in sorted_currencies">
                                <th class="text-center h-auto">
                                    <% ccy %>
                                </th>
                                <td>
                                    <select v-model="currencies[ccy].Type" class="form-control form-control-sm default-select text-last-center h-auto" v-on:input="onchange_value">
                                        <option v-for="cur_item in available_currency_types" :value="cur_item" :selected="cur_item == currencies[ccy].Type"><% cur_item %></option>
                                    </select>
                                </td>
                                <td class="text-center w-auto">
                                    <input v-on:input="onchange_value" v-model="currencies[ccy].Name"class="border-0 text-center input_spread bg-transparent w-100">
                                </td>
                                <td class="text-center w-auto">
                                    <input v-on:input="onchange_value" v-model="currencies[ccy].Precision"class="border-0 text-center input_spread bg-transparent w-100">
                                </td>
                                <td class="text-center w-auto">
                                    <input v-on:input="onchange_value" v-model="currencies[ccy].ViewPriority"class="border-0 text-center input_spread bg-transparent w-100" :disabled="ccy.trim() === 'BRL'">
                                </td>
                                <td class="text-center w-auto">
                                    <template>
                                        <a href="#" v-on:click="open_popup(ccy)">
                                            <% currencies[ccy].Calendar %>
                                        </a>
                                    </template>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="col-12 tab-pane container fade mb-3" id="tab-system">
                <div class="col-sm-2">
                    <table class="table table-bordered table-hover table-sm small mt-4 text-center">
                        <thead>
                            <tr class="header text-center">
                                <th>BPIPE Log Level</th>
                            </tr>
                        </thead>
                        <tbody class="bg-orange">
                            <tr>
                                <td>
                                    <select class="form-control" v-on:input="submit">
                                        <option v-for="(level, key) in log_level" :id="'log_level-' + key" :value="level"> <% level %> </option>
                                    </select>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block script_eof %}
<link rel="stylesheet" type="text/css" href="/static/DataTables/datatables.min.css"/>
<script type="text/javascript" src="/static/DataTables/datatables.min.js"></script>

<script type="text/javascript">
    $(document).ready(function() {
        $('#nav-items li').removeClass('active');
        $('#nav-item-config').addClass('active');
    });
</script>
{% endblock %}

