        <div  class="row m-0 mb-3 small" id="panel_quotes" >
            <template v-if="market_base != null">
                <div class="col-2 text-white">
                    <div class="row flex-row flex-nowrap">
                        <div v-for="(element, key, index) in market_base" class="col-6 bg-dark rounded m-1 text-center">
                            <div class="row mt-1 mb-1">
                                <div class="col">
                                    Future USD
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <div class="row xsucess">
                                        <div class="col p-1">
                                            BUY
                                        </div>
                                    </div>
                                    <div class="row xsucess">
                                        <div class="col text-center p-0">
                                            <h5 class="font-weight-bold"><% element.Active.Bid %></h5>
                                        </div>
                                    </div>
                                    <div class="row bg-danger">
                                        <div class="col p-1">
                                            SELL
                                        </div>
                                    </div>
                                    <div class="row bg-danger">
                                        <div class="col p-0">
                                            <h5 class="font-weight-bold"><% element.Active.Ask %></h5>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-6 text-center m-1">
                            <div class="row pt-1 pb-1 bg-dark rounded">
                                <div class="col">
                                    Casado
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <div class="row xsucess">
                                        <div class="col p-1">
                                            BUY
                                        </div>
                                    </div>
                                    <div v-if="market_casado !== null && market_casado.Price" class="row xsucess">
                                        <div class="col text-center p-0">
                                            <h5 class="font-weight-bold"><% (market_casado.Price && market_casado.Price * 1000) || '-' %></h5>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-1">
                </div>

                <div class="col-8 container-fluid overflow-auto scroll-style-1 text-white">
                    <div class="row flex-row flex-nowrap">
                        <div v-for="currency in sortCurrencies(currency_pairs)" class="col-1 bg-dark rounded m-1 text-center" style="min-width:100px">
                            <div class="row mt-1 mb-1">
                                <div class="col">
                                    <% currency[0] %>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <div class="row xsucess">
                                        <div class="col p-1">
                                            BUY
                                        </div>
                                    </div>
                                    <div class="row xsucess">
                                        <div class="col text-center p-0">
                                            <h5 class="font-weight-bold"><% currency_pairs[currency[0]].Bid %></h5>
                                        </div>
                                    </div>
                                    <div class="row bg-danger">
                                        <div class="col p-1">
                                            SELL
                                        </div>
                                    </div>
                                    <div class="row bg-danger">
                                        <div class="col p-0">
                                            <h5 class="font-weight-bold"><% currency_pairs[currency[0]].Ask %></h5>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </template>
        </div>
